<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.sairam">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <uses-feature android:name="android.hardware.camera"

        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tick"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tick"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity"/>

            <activity android:name=".SplashActivity"

                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".UserLoginActivity" />
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".student" />
        <activity android:name=".DetailData"/>
        <activity android:name=".EditActivity" />
        <activity android:name=".Edit" />
        <activity android:name=".ed" />
        <activity android:name=".ListActivity"/>
        <activity android:name=".list"/>
        <activity android:name=".list1"/>
        <activity android:name=".ListActivityClass"/>
        <activity android:name=".EditActivityClass" />
        <activity android:name=".DetailDataClass"/>
        <activity android:name=".attendance"/>
        <activity android:name=".att"/>



        <activity android:name=".view"></activity>

    </application>


</manifest>